# Maven
target/
*.class
*.jar
*.war

# Environment variables - NEVER commit passwords
.env
.env.*
*.env

# Intellij
.ideagit 
*.iml

# VS Code
.vscode/

# Mac
.DS_Store

#Node (React frontend)
node_modules/
dist/
build/

# Logs
*.log
logs/
